body {
	font-family: "NexusSansPro",Arial,Sans-Serif;
	font-size: 11pt;
	background: white;
	color: black;
	margin: 0px;
}

div#content {
	margin: 24px;
}

img 	{ border: 0px; }

span.yellow	{ color: #fdc81a; }
span.blue	{ color: #016e97; }
span.red	{ color: #7e0c2d; }
span.signalred	{ color: #d30132; }
span.green	{ color: #6f8612; }

A:link		{
	color: #003853;
	text-decoration: none;
	border-bottom: #003853 dashed 1px;
}

A:visited	{
	color: #003853;
	text-decoration: none;
	border-bottom: #003853 dashed 1px;
}

A:active	{
	color: #016e97;
	text-decoration: none;
	border-bottom: #016e97 dashed 1px;
}

table, td, th
{
	border: 0px;
	font-size: 11pt;
}

th
{
	background-color: #016e97;
	color:white;
}

td
{
	padding-right: 12pt;
	padding-left: 12pt;
}

p {
	margin: 0px;
}

p#banner img#logo {
	float: right; margin-right: 40px;
}

p.description {
	font-size: 11pt;
	padding: 6pt;
	margin: 12pt;
	border: 1px solid black;
	background-color: #fff3d9;
}


h1
{
	margin-top: 12pt;
	margin-bottom: 24pt;
	background-color: #be1d3c;
	padding-left: 24pt;
	padding-right: 24pt;
	color: white;
}

h2
{
	margin-top: 24pt;
	margin-bottom: 0pt;
	padding-bottom: 0pt;
/*	border-bottom: 1px solid black; */
	color: black;
}

h3
{
	margin-top: 16pt;
	margin-bottom: 2pt;
	color: black;
}

pre
{
	font-size: 10pt;
	padding: 12pt;
	margin: 12pt;
	border: 1px dashed black;
	background-color: #F0F0F0;
}
